@import "variables";
.container {
  max-width: $website-width;
  margin: auto;
  padding: 1.5rem;
}

%btn-shared {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-top: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

.bigger {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}

.bg {
  &-main {
    background-color: $main-color;
    color: set-text-color($main-color);
  }

  &-light {
    background-color: $light-color;
    color: set-text-color($light-color);
  }

  &-dark {
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
}

%social-shared {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: $trans-props;
}
