@import "variables";
@import "utilities";
@import "img-grid";
@import "media_queries";

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  line-height: 1.6;
  font-family: "Dosis", sans-serif;
  background-color: $light-color;
}

a {
  text-decoration: none;
  color: $light-color;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
#logo {
  color: white;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
}

.videoBg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 120vh;
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      padding-left: 5%;
      a {
        font-size: 1.3rem;
      }
    }
  }

  a {
    color: $dark-color;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

.header {
  &-home {
    max-height: 100vh;
    color: $dark-color;
    position: relative;
    opacity: 0.9;

    .header-content {
      text-align: center;
      margin-top: 10%;
      padding: 2.5% 15px;
      position: relative;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
        font-weight: 700;
      }

      p {
        color: $dark-color;
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 100%;
      //   width: 100%;
      //   z-index: -1;
      //   background-color: #333;
      //   opacity: 0.5;
      // }
    }
  }

  &-inner {
    border-bottom: 3px solid $main-color;
  }
}

//about_page

.line {
  height: 3px;
  width: 5rem;
  background-color: $main-color;
  margin: 0 auto 2rem auto;
}

.about_me {
  color: set-text-color($light-color);
  padding-bottom: 3rem;
  min-height: 50vh;

  .about-content {
    display: grid;
    grid-template-areas: "bio-img bio bio";
    // "a1 a2 a3";
    grid-gap: 1.2rem;
    c .bio-img {
      grid-area: bio-img;
    }

    .bio {
      grid-area: bio;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 3px solid $main-color;
    }
  }
}

.skills {
  padding: 1rem 0rem 5rem 0rem;
  position: relative;
  color: $dark-color;
  .bar {
    overflow: hidden;
    height: 20px;
    background: $medium-color;
    border-radius: 5px;
    margin-bottom: 0.3rem;

    div {
      height: 100%;
      width: 0%;
      color: white;
      text-align: center;
      background-color: $main-color;
    }
  }

  .tags {
    display: flex;
    justify-content: space-evenly;
  }

  .html,
  .sass {
    animation: animate1 3s forwards;
  }

  .tlcss {
    animation: animate2 3s forwards;
  }
  .js {
    animation: animate3 3s forwards;
  }
}

@keyframes animate1 {
  to {
    width: 100%;
  }
}

@keyframes animate2 {
  to {
    width: 60%;
  }
}

@keyframes animate3 {
  to {
    width: 80%;
  }
}

footer {
  border-top: 1px solid $main-color;
  color: $dark-color;
}
//education
.education {
  color: $dark-color;
}
.card {
  display: grid;
  grid-template-areas:
    "school school school"
    "duration duration duration"
    "stream stream stream";

  margin: 0 auto 2rem auto;
  padding: 2rem 0;
  opacity: 0.5;

  .school {
    grid-area: school;
  }

  .duration {
    grid-area: duration;
    display: flex;
    justify-content: space-around;
  }

  .stream {
    grid-area: stream;
    display: flex;
    justify-content: space-around;
  }
}

//projects
.work,
.blog {
  min-height: 100vh;
  color: $dark-color;
}

//contact
.contact {
  min-height: 90vh;
  color: $dark-color;
  padding-top: 5%;
  color: $dark-color;
}
.form-input {
  display: grid;
  grid-template-areas:
    "name name phone phone"
    "subject subject email email"
    "message message message message";

  grid-gap: 1rem;
  .name {
    grid-area: name;
  }

  .subject {
    grid-area: subject;
  }

  .email {
    grid-area: email;
  }

  .phone {
    grid-area: phone;
  }

  .message {
    grid-area: message;
  }

  .text {
    height: 2rem;
    padding: 0rem 1rem;
  }

  .message {
    height: 5rem;
    padding: 1rem;
  }
}

.submit {
  transition: all 0.5s ease;
  border: none;
  width: 50%;
  margin-top: 3rem;
  &:hover {
    background-color: $main-color;
  }
}

//social icons
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.socialicon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: $link-size;
  height: $link-size;
  margin: 8px;
  text-decoration: none;
  transition: $trans-props;
}
.socialicon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: $link-size;
  height: $link-size;
  background-color: #fff;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 2px 5px 5px $shadow-col;
  text-decoration: none;
  transition: $trans-props;
}
.socialicon i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: $trans-props;
}

.socialicon.twitter {
  color: $col-icon-twitter;
}

.socialicon.github {
  color: $col-icon-github;
}

.socialicon.linkedin {
  color: $col-icon-linkedin;
}

.socialicon.medium {
  color: $col-icon-medium;
}

.socialicon.instagram {
  color: $col-icon-instagram;
}

.socialicon:after {
  content: "";
  width: $link-size;
  height: $link-size;
  position: absolute;
  transform: translate(0, $link-size);
  border-radius: 50%;
  transition: $trans-props;
}

.socialicon.twitter:after {
  background-color: #1da1f2;
}

.socialicon.github:after {
  background-color: #1f2122;
}

.socialicon.linkedin:after {
  background-color: #0e76a8;
}

.socialicon.instagram:after {
  background-color: #ea4c89;
}

.socialicon.medium:after {
  background-color: #00ab6c;
}

//social animations

.socialicon:hover {
  transform: translateY(-4px);
}

.socialicon:hover:after {
  transform: scale(1.2);
}
.socialicon:hover i {
  color: #fff;
}
